<div>
    <h1>Activities for Patient {{$ctrl.patientName}}</h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><a href="#" ng-click="$ctrl.toggleStepCountVisibility()"><h2>Step Count</h2></a></div>
    <div class="panel-body" ng-if="$ctrl.stepCountVisible == true">
        <form>
            <h1>Find daily step count for date range</h1>
            <div class="form-group">
                <label for="startDate">Start Date:</label>
                <!-- Using date input type for details see: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/date -->
                <!-- input value is of the format yyyy-MM-dd by default -->
                <input ng-model="$ctrl.startDate" type="date" id="startDate" name="startDate">
            </div>
            <div class="form-group">
                <label for="endDate">End Date:</label>
                <!-- Using date input type for details see: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/date -->
                <!-- input value is of the format yyyy-MM-dd by default -->
                <input ng-model="$ctrl.endDate" type="date" id="endDate" name="endDate">
            </div>
            <button class="btn btn-default" ng-click="$ctrl.retrieveStepCount()">Search</button>
        </form>

        <div ng-if="$ctrl.waitingForSearch || $ctrl.waitingForGraph" class="alert alert-info">
            <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
            Searching for step count...
        </div>

        <div class="panel panel-default">
            <div class="chart-container">
                <!-- IMPORTANT: The svg element must be visible at all times in order for the d3 javascript object to
                     find it and populate it with data -->
                <svg class="chart">
                </svg>
            </div>

            <button class="btn btn-default" ng-if="$ctrl.omhActivity && $ctrl.showStepDataTable == false" ng-click="$ctrl.toggleShowStepDataTable()">Show Data Table</button>
            <button class="btn btn-default" ng-if="$ctrl.omhActivity && $ctrl.showStepDataTable == true" ng-click="$ctrl.toggleShowStepDataTable()">Hide Data Table</button>

            <h3 ng-if="$ctrl.showStepDataTable">All Step Data Points</h3>
            <table ng-if="$ctrl.showStepDataTable" class="table table-striped">
                <thead>
                <tr>
                    <td>Step Count</td>
                    <td>Start Time</td>
                    <td>End Time</td>
                    <td>Source</td>
                    <td>Origin</td>
                    <td>Creation Date</td>
                    <td>Schema</td>
                    <td>Schema Namespace</td>
                    <td>Schema Version</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="stepActivity in $ctrl.omhActivity.body">
                    <td>{{stepActivity.body.step_count}}</td>
                    <td>{{stepActivity.body.effective_time_frame.time_interval.start_date_time | date:"MM/dd/yyyy '-' h:mma"}}</td><!--<td>{{stepActivity.body.effective_time_frame.time_interval.start_date_time}}</td>-->
                    <td>{{stepActivity.body.effective_time_frame.time_interval.end_date_time | date:"MM/dd/yyyy '-' h:mma"}}</td><!--<td>{{stepActivity.body.effective_time_frame.time_interval.end_date_time}}</td>-->
                    <td>{{stepActivity.header.acquisition_provenance.source_name}}</td>
                    <td>{{stepActivity.header.acquisition_provenance.source_origin_id}}</td>
                    <td>{{stepActivity.header.creation_date_time | date:"MM/dd/yyyy '-' h:mma"}}</td> <!--<td>{{stepActivity.header.creation_date_time}}</td>-->
                    <td>{{stepActivity.header.schema_id.name}}</td>
                    <td>{{stepActivity.header.schema_id.namespace}}</td>
                    <td>{{stepActivity.header.schema_id.version}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><a href="#" ng-click="$ctrl.toggleToolsVisibility()"><h2>Tools <small>to view message details</small></h2></a></div>
    <div class="panel-body" ng-if="$ctrl.toolsVisible == true">
        <div class="panel panel-default">
            <div class="panel-heading observation-header"><a href="#" ng-click="$ctrl.toggleDocReferenceVisibility()"><h4>Step Count as STU3 DocumentReference</h4></a></div>
            <div class="panel-body" ng-if="$ctrl.docReferenceVisible == true">
                <!--<pre>{{$ctrl.activityDocumentRef}}</pre>-->
                {{$ctrl.activityDocumentRef}}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading observation-header"><a href="#" ng-click="$ctrl.toggleObservationVisibility()"><h4>Step Count as STU3 Observations</h4></a></div>
            <div class="panel-body" ng-if="$ctrl.observationVisible == true">
                <!--<pre>{{$ctrl.observationResponse}}</pre>-->
                {{$ctrl.observationResponse}}
            </div>
        </div>
    </div>
</div>