<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.gtri.hdap.mdata.MdataServerApplication" level="DEBUG"/>
    <logger name="org.gtri.hdap.mdata.common.service.ShimmerService" level="DEBUG"/>
    <logger name="org.gtri.hdap.mdata.service.dstu3.ResponseService" level="DEBUG"/>
    <logger name="org.gtri.hdap.mdata.dstu3.controller" level="DEBUG"/>
    <logger name="org.gtri.hdap.mdata.common.conf" level="DEBUG"/>
    <logger name="org.gtri.hdap.mdata.common.jackson" level="DEBUG"/>
    <logger name="org.gtri.hdap.mdata.dstu3.controller.Dstu3PatientDataController" level="TRACE"/>
    <logger name=" org.gtri.hdap.mdata.dstu3.service.Dstu3ResponseService" level="TRACE"/>
    <logger name="org.gtri.hdap.mdata.InitDatabase" level="DEBUG"/>
    <logger name="org.gtri.hdap.mdata.common.jpa" level="DEBUG"/>

    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>