<h1>Activity</h1>
<h2>Search Patient Activity</h2>
<form>
  <div class="form-group">
    <label for="startDate">Start Date:</label>
    <!-- Using date input type for details see: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/date -->
    <!-- input value is of the format yyyy-MM-dd by default -->
    <input [(ngModel)]="startDate" type="date" id="startDate" name="startDate">
  </div>
  <div class="form-group">
    <label for="endDate">End Date:</label>
    <!-- Using date input type for details see: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/date -->
    <!-- input value is of the format yyyy-MM-dd by default -->
    <input [(ngModel)]="endDate" type="date" id="endDate" name="endDate">
  </div>
  <button class="btn btn-default" (click)="queryActivity()">Get Activity</button>
</form>

<div *ngIf="activityDocumentRef" class="container-fluid" id="activityResponse">
  {{activityJsonString}}
  <div class="row">
    <label>Resource Type: </label>{{activityResourceType}}
  </div>
  <div class="row">
    <label>Data Type: </label>{{activityDataType}}
  </div>
  <div class="row">
    <button class="btn btn-default" (click)="queryBinary()">Download Binary</button>
  </div>
</div>

