<h1>Activity</h1>
<h2>Search Patient Activity</h2>
<form>
  <div class="form-group">
    <label for="startDate">Start Date:</label>
    <!-- Using date input type for details see: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/date -->
    <!-- input value is of the format yyyy-MM-dd by default -->
    <input [(ngModel)]="startDate" type="date" id="startDate" name="startDate">
  </div>
  <div class="form-group">
    <label for="endDate">End Date:</label>
    <!-- Using date input type for details see: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/date -->
    <!-- input value is of the format yyyy-MM-dd by default -->
    <input [(ngModel)]="endDate" type="date" id="endDate" name="endDate">
  </div>
  <button class="btn btn-default" (click)="queryActivity()">Get Activity</button>
</form>
<div id="activityResponse">
  {{activityJsonString}}
  <table class="table table-info">
    <tbody>
      <tr>
        <td>Resource Type:</td>
        <td>{{activityResourceType}}</td>
      </tr>
      <tr>
        <td>Data Type:</td>
        <td>{{activityDataType}}</td>
      </tr>
      <tr>
        <td>Download:</td>
        <td><button class="btn btn-default" (click)="queryBinary()">Download Binary</button></td>
      </tr>
    </tbody>
  </table>
</div>

